<div class="section bg-top pb-4">
    <div class="container pt-3">
        <div class="col-md-12 text-center">
            <h4>Set new password</h4>
        </div>
    </div>
</div>
<div class="section">
    <div class="container login-screen mt-4 pt-2">
        <div class="row">
            <ngx-spinner bdOpacity=0.4 bdColor="rgba(51,51,51,0.42)" size="medium" color="#2457c7" type="ball-spin-fade"
                [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-12 text-center mb-4 pb-4">
                    <img src="assets/images/logo1.png" />
                </div>
                <form [formGroup]="credential" (ngSubmit)="onsubmit()" *ngIf="passwordReset == false">
                    <div class="form-group" [ngClass]="{ 'was-validated': change }">
                        <input type="password" formControlName="password" class="form-control"
                            placeholder="New password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 5 characters</div>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'was-validated': change }">
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            placeholder="Confirm password"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">

                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                    <div *ngIf="change" class="text-success small">{{message}}</div>
                    <div *ngIf="change == false" class="text-danger small">{{message}}</div>
                    <button type="submit" *ngIf="verifying == false" class="btn btn-primary btn-block">Set new
                        password</button>
                    <button *ngIf="verifying == true" style="color: white;" disabled
                        class="btn btn-primary btn-block">Loading.....</button>
                </form>
                <div *ngIf="passwordReset == true" class="row pt-40">
                    <div class="col-1"></div>
                    <div class="col-10 text-center mt-50">
                        <i class="fa fa-check-circle iconCheckCircle" aria-hidden="true"></i>
                        <h2 class="passwordText mb-3">Password updated!</h2>
                        <h5 class="yourpasswordText">Your password has been changed successfully!</h5>
                        <h5 class="yourpasswordText">Use your new password to <a [routerLink]="['/login']">login</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>