<div class="section" *ngIf="displayForm">
    <ngx-spinner bdOpacity=0.4 bdColor="rgba(51,51,51,0.42)" size="medium" color="#2457c7" type="ball-scale-multiple"
        [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>

    <div class="container-fluid admin_bio_list">

        <div class="row pt-3">
            <div class="col-md-6 d-flex align-items-center">
                <h4><a [routerLink]="['/group-profiles']"><img src="assets/images/arrow_left.png" /> Back to Group
                        Profiles</a></h4>
            </div>
            <div class="col-md-6 bio_tab text-end user_right_section d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-outline-primary preview_btn bio_btn" (click)="openPreview()">Peview
                    Profile</button>
                <button type="button" class="btn btn-primary share_btn bio_btn" data-bs-toggle="modal"
                    data-bs-backdrop="static" data-bs-target="#profile_publish_Modal">Publish Profile</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12 bio_tab">
                <div class="card ">
                    <div class="manage_profile_banner" style="background-image: url({{groupImage}});">
                        <div class="col-md-12">
                            <div class="row manage_profile_banner_review">
                                <div class="col-md-6 ">
                                    <div class="row">
                                        <div class="col-md-3 pr-0 rating review-setting">
                                            <p-rating [ngModel]="averageRating" [readonly]="true" [cancel]="false">
                                            </p-rating>
                                        </div>
                                        <div class="col-md-4 pl-0 review-write">
                                            <span class="total_reviews">{{groupReview.length}} reviews</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-end justify-content-end profile_banner_cols">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-backdrop="static"
                                        data-bs-target="#profile_share_Modal" class="btn btn-primary share"><img
                                            src="assets/images/share.png" /></a>
                                    <a href="javascript:void(0)" class="btn btn-primary"
                                        (click)="selectGroupImage.click()"><img src="assets/images/export_white.png" />
                                        <input type="file" accept="image/*" (change)="uploadGroupImages($event)"
                                            style="display: none" #selectGroupImage>
                                        Change Image</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body admin_profile manage_profile">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>{{linkedGroup.group_name
                                    }}</h4>
                                <!-- <ul>
                                    <li><img src="assets/images/public_1.png" />Public</li>
                                    <li><img src="assets/images/members_1.png" />364 members</li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                    <div class="manage_profile tab_sec">
                        <ul>
                            <li><a (click)="scrollTarget('overview')" class="active tab-menu overview-tab">Overview</a>
                            </li>
                            <li><a class="tab-menu topics-tab" (click)="scrollTarget('topics')">Topics</a></li>
                            <li><a class="tab-menu conversations-tab"
                                    (click)="scrollTarget('conversations')">Conversations</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body key_stats overview">
                                <div class="d-flex">
                                    <div class="stats_cols">
                                        <h2><img src="assets/images/location.png" /> Location</h2>
                                        <h4>{{location}}</h4>
                                    </div>
                                    <div class="stats_cols">
                                        <h2><img src="assets/images/category.png" /> Category</h2>
                                        <h4>{{category}}</h4>
                                    </div>
                                    <div class="stats_cols">
                                        <h2><img src="assets/images/calendar.png" /> Calendar</h2>
                                        <h4>{{created | date: 'MMMM dd, yyyy'}} </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12 p-0">
                                    <div class="d-flex">
                                        <div class="heading">
                                            <h3>About Group</h3>
                                        </div>
                                        <div class="edit_field">
                                            <img src="assets/images/edit_blue.png" data-bs-toggle="modal"
                                                data-bs-backdrop="static" data-bs-target="#edit_overview_Modal" />
                                        </div>
                                    </div>
                                </div>

                                <p [ngClass]="{'limitTextHeight': isSeeMore}" [innerHTML]="description"></p>
                                <a href="javascript:void(0);" (click)="isSeeMore=!isSeeMore">
                                    {{ isSeeMore ? 'See More': 'See Less' }}
                                </a>
                            </div>
                        </div>
                        <div class="card" id="topics">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="heading">
                                        <h3>Topics</h3>
                                    </div>
                                    <div class="edit_field">
                                        <img src="assets/images/edit_blue.png" data-bs-toggle="modal"
                                            data-bs-backdrop="static" data-bs-target="#edit_topics_Modal" />
                                    </div>
                                </div>
                                <div class="topics_name">
                                    <span *ngFor="let topic of topics">{{topic}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="conversations">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="heading">
                                        <h3>Top Conversations</h3>
                                    </div>
                                    <div class="edit_field">
                                        <img src="assets/images/edit_blue.png" data-bs-toggle="modal"
                                            data-bs-backdrop="static" data-bs-target="#edit_conversation_Modal" />
                                    </div>
                                </div>

                                <!-- <p-carousel [value]="uploadUrls" styleClass="custom-carousel"
                                    [responsiveOptions]="responsiveOptions" [numVisible]="3" [numScroll]="3"
                                    [circular]="true" [autoplayInterval]="3000"> -->
                                <p-carousel [value]="uploadUrls" styleClass="custom-carousel" [numVisible]="3"
                                    [numScroll]="1" [circular]="true" [autoplayInterval]="3000"
                                    [responsiveOptions]="responsiveOptions">
                                    <ng-template let-conversation pTemplate="item">
                                        <div class="conversation-item">
                                            <div class="conversation-item-content">
                                                <div class="mb-3" id="image-conversations">
                                                    <img [src]="conversation |safe" [alt]="conversation"
                                                        class="conversation-image" />
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-carousel>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl-0 right_sec">

                        <div class="card bio_tab reviews" *ngIf="groupReview.length > 0 else elseBlock">
                            <div class="card-body">
                                <h3>Reviews</h3>
                                <div class="col-md-12 text-center reviews">

                                    <span class="review-rating"><img
                                            src="assets/images/star_white_fill.png " />{{averageRating}}</span>
                                    <!-- <img src="assets/images/review.png" /> -->
                                </div>
                                <div class="col-md-12 text-center">
                                    <h5>based on {{groupReview.length}} reviews</h5>
                                </div>

                                <div class="col-md-12 d-grid admin_sec">
                                    <button type="button" class="btn btn-primary btn-block review_btn"
                                        data-bs-toggle="modal" data-bs-backdrop="static"
                                        data-bs-target="#write_review_Modal"><img src="assets/images/star_white.png " />
                                        Write A Review</button>
                                </div>
                                <div class="review_sec">
                                    <div class="col-md-12 d-grid admin_sec" *ngFor="let review of groupReview">
                                        <div class="d-flex review-setting">
                                            <div class="user_profile">
                                                <h2 class="name"><img class="reviews-image"
                                                        src="assets/images/default.jpg" /> {{review.name}}
                                                </h2>
                                            </div>
                                            <p-rating [(ngModel)]="review.star" [cancel]="false" [readonly]="true">
                                            </p-rating>
                                        </div>
                                        <p>{{review.description}}</p>
                                        <h6 class="days">{{review.created_at | date: 'MMMM dd, yyyy'}}</h6>
                                    </div>
                                </div>
                                <div class="col-md-12 d-grid admin_sec">
                                    <button type="button" class="btn btn-outline-primary btn-block"
                                        data-bs-toggle="modal" data-bs-backdrop="static"
                                        data-bs-target="#review_settings_Modal">See All
                                        Reviews</button>


                                </div>
                            </div>
                        </div>
                        <ng-template #elseBlock>
                            <div class="card bio_tab no_reviews">
                                <div class="card-body">
                                    <h3>Reviews</h3>
                                    <div class="col-md-12 text-center">
                                        <img src="assets/images/no_reviews.png" />
                                        <h3>No Reviews Yet!</h3>
                                        <h5>Be the first to leave a review.</h5>
                                    </div>
                                    <div class="col-md-12 d-grid admin_sec">
                                        <button type="button" class="btn btn-primary btn-block review_btn"
                                            data-bs-toggle="modal" data-bs-backdrop="static"
                                            data-bs-target="#write_review_Modal"><img
                                                src="assets/images/star_white.png " /> Write A Review</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12 p-0">
                                    <div class="d-flex">
                                        <div>
                                            <h3>Group Admins <span class="badge badge-primary">1</span></h3>
                                        </div>
                                        <!-- <div class="edit_field">
                                            <img src="assets/images/edit_blue.png" data-bs-toggle="modal"
                                                data-bs-target="#edit_admin_Modal" />
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="d-flex admin_sec">
                                        <div class="admin_left_sec d-flex align-items-center justify-content-center">
                                            <img class="admin-imag" src="{{adminImage}}" />
                                        </div>
                                        <div class="admin_profile_sec">
                                            <h2 class="name">{{adminName}}</h2>
                                            <h5 class="place"><img class="country-image"
                                                    src="{{countryFlag}}" />{{adminlocation}}</h5>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-center">
                                            <h5 *ngIf="showAdminBio"><a target="_blank" href="{{adminSlug}}">View
                                                    bio</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-12 d-grid admin_sec">
                                    <button type="button" class="btn btn-outline-primary btn-block">See All
                                        Admins</button>
                                </div> -->

                            </div>
                        </div>

                    </div>

                    <!-- <div id="image-conversations">

                    </div> -->
                </div>

            </div>
        </div>
    </div>
</div>

<!---------------------publish bio modal--------------->
<div class="modal group_modal" id="profile_publish_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">Add Social Profile</h4> -->
                <button type="button" data-bs-dismiss="modal" class="cancel_btn"><img
                        src="assets/images/Cancel.png" /></button>
            </div>
            <div class="modal-body publish_modal text-center">
                <div class="col-md-12">
                    <img src="assets/images/success.png" class="success" />
                    <h4 class="modal-title">Profile Published Successfully</h4>
                    <p>Share to start getting noticed</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="https://groupleds.net/profile/danedwards">
                        <span class="input-group-text">Copy</span>
                    </div>
                    <h6><span class="border_left"></span>Share with<span class="border_right"></span></h6>
                    <ul class="social_icons">
                        <a href="#"><img src="assets/images/Facebook.png" /></a>
                        <a href="#"><img src="assets/images/Instagram.png" /></a>
                        <a href="#"><img src="assets/images/Twitter.png" /></a>
                        <a href="#"><img src="assets/images/LinkedIn.png" class="linkedin" /></a>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------edit topics modal--------------->
<div class="modal group_modal" id="edit_topics_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="editTopicsForm" (ngSubmit)="editTopics()">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Topics</h4>
                    <button type="button" data-bs-dismiss="modal" id="editTopics_cancel" class="cancel_btn"><img
                            src="assets/images/Cancel.png" /></button>
                </div>
                <div class="modal-body edit_modal">
                    <div class="col-md-12 mt-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Show Topics on page</h5>
                            </div>
                            <div
                                class="col-md-6 form-check form-switch switch_btn d-flex align-items-end justify-content-end">
                                <p-inputSwitch formControlName="isTopic" [(ngModel)]="isTopic"></p-inputSwitch>
                                <!-- <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label> -->
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-4">
                        <label for="topic" class="form-label">Popular Topics</label>
                        <!-- <input type="text" class="form-control" id="email" placeholder="Enter email" name="topic"> -->
                        <p-chips [(ngModel)]="topics" class="topics" formControlName="topics" separator=",">
                        </p-chips>
                    </div>
                    <div class="col-md-12 d-grid mt-4">
                        <button type="submit" [disabled]="editTopicsForm.invalid"
                            class="btn btn-primary btn-block select_group_btn">Edit Topics</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!---------------------edit overview modal--------------->
<div class="modal group_modal" id="edit_overview_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Overview</h4>
                <button type="button" data-bs-dismiss="modal" id="edit_overview_close" class="cancel_btn"><img
                        src="assets/images/Cancel.png" /></button>
            </div>
            <div class="modal-body edit_modal">
                <form [formGroup]="editOverViewForm" (ngSubmit)="editOverview()">
                    <div class="mb-3 mt-2">
                        <label for="topic" class="form-label">Group Description<span class="required">*</span></label>
                        <textarea [rows]="3" formControlName="description" [value]="description"
                            [ngModel]="description"></textarea>
                        <div *ngIf="o['description'].touched && o['description'].invalid" class="alert alert-danger">
                            <div *ngIf="o['description'].errors && o['description'].errors['required']">
                                Description is
                                required.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 form-group">
                                <label for="location" class="form-label">Group Category<span
                                        class="required">*</span></label>
                                <select class="form-select" [(ngModel)]='selectedCategory'
                                    (onChange)="onChangeCategory($event)" formControlName="category">
                                    <option *ngFor="let category of groupCategories" [value]="category.id">
                                        {{category.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 form-group">
                                <label for="location" class="form-label">Group Location<span
                                        class="required">*</span></label>
                                <select class="form-select" [(ngModel)]='selectedLocation'
                                    (onChange)="onChangeLocation($event)" formControlName="location">
                                    <option *ngFor="let location of locationList" [value]="location.code">
                                        {{location.name}}</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-grid mt-4">
                        <button type="submit" [disabled]="editOverViewForm.invalid"
                            class="btn btn-primary btn-block select_group_btn">Edit Overview</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!---------------------review settings modal--------------->
<div class="modal group_modal" id="review_settings_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Review Settings</h4>
                <button type="button" data-bs-dismiss="modal" class="cancel_btn"><img
                        src="assets/images/Cancel.png" /></button>
            </div>
            <div class="modal-body edit_modal">
                <div class="col-md-12 mt-2">
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Show member reviews on page </h5>
                        </div>
                        <div
                            class="col-md-4 form-check form-switch switch_btn d-flex align-items-end justify-content-end">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-4">
                    <button type="button" class="btn btn-outline-primary btn-block all_review_btn"><img
                            src="assets/images/review_star.png" /> See All Reviews</button>
                </div>
                <div class="col-md-12 d-grid mt-4">
                    <button type="button" class="btn btn-primary btn-block select_group_btn">Change Settings</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------edit stats modal--------------->
<div class="modal group_modal" id="key_stats_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Key Stats Settings</h4>
                <button type="button" data-bs-dismiss="modal" class="cancel_btn"><img
                        src="assets/images/Cancel.png" /></button>
            </div>
            <div class="modal-body edit_modal key_stats">
                <div class="col-md-12 mt-2">
                    <div class="row mb-4">
                        <div class="col-md-8">
                            <h3>Show Monthly Conversations</h3>
                            <h6>Total conversations in the last 30 days.</h6>
                        </div>
                        <div
                            class="col-md-4 form-check form-switch switch_btn d-flex align-items-center justify-content-end">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-8">
                            <h3>Show Engagement Rate</h3>
                            <h6>Average nymber of actions by members in your group in 30 days.</h6>
                        </div>
                        <div
                            class="col-md-4 form-check form-switch switch_btn d-flex align-items-center justify-content-end">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-8">
                            <h3>Show Activity Rate</h3>
                            <h6>Average number of actions a post gets in your group.</h6>
                        </div>
                        <div
                            class="col-md-4 form-check form-switch switch_btn d-flex align-items-center justify-content-end">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 d-grid mt-4">
                    <button type="button" class="btn btn-primary btn-block select_group_btn">Change Settings</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------edit admin modal--------------->
<div class="modal group_modal" id="edit_admin_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Admins</h4>
                <button type="button" data-bs-dismiss="modal" class="cancel_btn"><img
                        src="assets/images/Cancel.png" /></button>
            </div>
            <div class="modal-body edit_modal">
                <div class="col-md-12 mt-2">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Show Admins on page</h5>
                        </div>
                        <div
                            class="col-md-6 form-check form-switch switch_btn d-flex align-items-end justify-content-end">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-grid mt-4">
                    <button type="button" class="btn btn-primary btn-block select_group_btn">Edit Admins</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------edit admin modal--------------->
<div class="modal group_modal" id="edit_conversation_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="editConversationsForm" (ngSubmit)="editConversations()">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Top Conversations</h4>
                    <button type="button" data-bs-dismiss="modal" id="editConversations_cancel" class="cancel_btn"><img
                            src="assets/images/Cancel.png" /></button>
                </div>
                <div class="modal-body edit_modal">
                    <div class="col-md-12 mt-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Show Top Conversations on page</h5>
                            </div>
                            <div
                                class="col-md-6 form-check form-switch switch_btn d-flex align-items-end justify-content-end">
                                <p-inputSwitch formControlName="isConversations" [(ngModel)]="isConversations">
                                </p-inputSwitch>
                                <!-- <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label> -->
                            </div>
                        </div>
                        <div class="upload-image" *ngFor="let image of uploadUrls; let index = index">
                            <img [src]="image | safe" class="rounded mb-3 mt-4"><span mat-icon-button
                                (click)="removePreviousFile(index)"><img src="assets/images/Cancel.png"></span>
                        </div>
                        <div class="upload-image" *ngFor="let url of urls; let index = index">
                            <img [src]="url" class="rounded mb-3 mt-4"><span mat-icon-button
                                (click)="removeSelectedFile(index)"><img src="assets/images/Cancel.png"></span>
                        </div>
                        <div class="upload_ss">
                            <img src="assets/images/upload_ss_1.png" (click)="selectImage.click()" />
                            <input #imageInput type="file" accept="image/*" multiple (change)="uploadImages($event)"
                                style="display: none" #selectImage>
                        </div>
                    </div>
                    <div class="col-md-12 d-grid mt-4">
                        <button type="submit" class="btn btn-primary btn-block select_group_btn">Edit Top
                            Conversations</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!---------------------write review modal--------------->
<div class="modal group_modal" id="write_review_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Write A Review</h4>
                <button type="button" data-bs-dismiss="modal" id="editReviews_close" class="cancel_btn"><img
                        src="assets/images/Cancel.png" /></button>
            </div>
            <div class="modal-body edit_modal">
                <form [formGroup]="editReviewsForm" (ngSubmit)="editReviews()">
                    <div class="col-md-12 mt-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Leave a rating</h5>
                            </div>
                            <div
                                class="col-md-6 form-check form-switch switch_btn d-flex align-items-end justify-content-end review-setting">
                                <p-rating [(ngModel)]="rating" formControlName="rating" [cancel]="false">
                                </p-rating>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-4">
                        <label for="topic" class="form-label">Review <span class="required">*</span></label>
                        <input type="text" class="form-control" formControlName="review" id="review"
                            placeholder="Write a review..." name="review">
                        <div *ngIf="r['review'].touched && r['review'].invalid" class="alert alert-danger">
                            <div *ngIf="r['review'].errors && r['review'].errors['required']">
                                Review is
                                required.</div>
                        </div>
                    </div>
                    <div class="col-md-12 d-grid mt-4">
                        <button type="submit" [disabled]="editReviewsForm.invalid"
                            class="btn btn-primary btn-block select_group_btn">Leave Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- <p-dialog header="Header" [(visible)]="displayReviewModel" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog> -->


<!---------------------share group profile modal--------------->

<div class="modal group_modal" id="profile_share_Modal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-bs-dismiss="modal" class="cancel_btn"><img
                        src="assets/images/Cancel.png" /></button>
            </div>
            <div class="modal-body publish_modal text-center">
                <div class="col-md-12">

                    <h4 class="modal-title">Share This Bio</h4>
                    <h6><span class="border_left"></span>Share with social media<span class="border_right"></span>
                    </h6>

                    <ul class="social_icons">
                        <a href="{{facebookShare}}"><img src="assets/images/Facebook.png" /></a>
                        <a href="javascript:void(0);"><img src="assets/images/Instagram.png" /></a>
                        <a href="{{twitterShare}}"><img src="assets/images/Twitter.png" /></a>
                        <a href="{{linkedInShare}}"><img src="assets/images/LinkedIn.png" class="linkedin" /></a>
                    </ul>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{origin}}/group-profile/{{uniqueName}}">
                        <span type="button" class="input-group-text"
                            (click)="copyGroupProfileModel(uniqueName)">{{model_text}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<iframe *ngIf="displayIframe" height="640px" width="100%" [src]="iframeUrl | safe" id="openIframe"></iframe>