<div class="open-sidebar">
    <div class="container-fluid">
        <div class="row">
            <app-sidebar></app-sidebar>
            <ngx-spinner bdOpacity=0.4 bdColor="rgba(51,51,51,0.42)" size="medium" color="#2457c7"
                type="ball-scale-multiple" [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div class="col-md-10 right_side">
                <div class="row header">

                    <div class="col-md-8 left_col">
                        <div class="d-flex">

                            <div>
                                <h3>Group List</h3>
                            </div>
                            <div class="leads_sec">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <app-header-profile></app-header-profile>
                    </div>
                    <div class="row section group_list_section">
                        <div class="leads_generate group_list no_list" *ngIf="Nogroup == false">
                            <div class="row">
                                <div class="col-md-7 d-flex align-items-center">
                                    <h3>Group List</h3>
                                </div>
                                <div class="col-md-12 text-center no_leads">
                                    <img src="assets/images/note-remove.png" />
                                    <h3>No Group Have Been Created Yet</h3>
                                    <p>Connect your groups through the chrome extension to see the lead generation
                                        chart. See more <a href="javascript:void(0)" routerLink="/admin-bio">here.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="leads_generate group_list list_table" *ngIf="Nogroup == true">
                            <div class="row">
                                <div class="col-md-7 d-flex align-items-center">
                                    <h3>Group List</h3>
                                </div>
                                <div class="col-md-5 ">
                                    <div class="d-flex justify-content-end">
                                        <div class="dropdown filter_btn">
                                            <button
                                                style="background-color: white;border: none; color:#3c61ad;padding: 0px;"
                                                class="btn btn-primary" type="button" data-bs-toggle="dropdown"
                                                id="dropdownMenuButton1">
                                                <img style="width:auto" src="assets/images/menu.png" class="mr-2" />
                                                <span class="caret" style="font-size: 15px;"> Filter by date</span>
                                            </button>
                                            <ul (click)="onChange($event,'')" class="dropdown-menu custom-dropdown"
                                                style="cursor: pointer;">
                                                <li id="today"><a class="dropdown-item" data_filter="today">Today</a>
                                                </li>
                                                <li id="thisMonth"><a class="dropdown-item"
                                                        data_filter="this_month">This month</a></li>
                                                <li id="last30Days"><a class="dropdown-item"
                                                        data_filter="last_30_days">Last 30 Days</a></li>
                                                <li id="last90Days"><a class="dropdown-item"
                                                        data_filter="last_90_days">Last 90 Days</a></li>
                                                <li id="thisYear"><a class="dropdown-item" data_filter="this_year">This
                                                        Year</a></li>
                                                <li id="allTime"><a class="dropdown-item" data_filter="all_time">All
                                                        Time</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 group_list_table">
                                <p-table [value]="groupsData" responsiveLayout="scroll" [value]="groupsData"
                                    [paginator]="true" [rows]="10" styleClass="p-datatable-striped">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th *ngFor="let col of cols" [pSortableColumn]="col.field"
                                                [ngSwitch]="col.field">
                                                {{col.header}}
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-group let-rowData let-columns="columns">
                                        <tr [pSelectableRow]="rowData" [pEditableRow]="rowData"
                                            *ngIf="rowData.group_id != 0">
                                            <td class="name-highlight" [routerLink]="['/group-leads']"
                                                [queryParams]="{group_id:rowData.group_id,fb_group_id:rowData.fb_group_id}"
                                                style="cursor: pointer;color: #9B9898;">{{rowData.group_name}}</td>
                                            <td style="cursor: text;color: #9B9898;">{{rowData.count}}</td>
                                            <td style="cursor: text;color: #9B9898;">
                                                {{rowData.lastUpdate ? (rowData.lastUpdate | date: 'MMMM dd,
                                                yyyy'):"--"}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>