<div class="">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-sm navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="javascript:void(0)" routerLink="/"><img
                            src="assets/images/logo.png" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavbar">
                        <i class="fa fa-bars navbar-toggler-icon"></i>
                    </button>

                </div>
            </nav>
        </div>
    </div>
</div>
<!-----------------banner--------------->
<div class="section banner error">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/images/error-removebg-preview.png" />
                <p>We suggest you go to the homepage while we fix this problem.</p>
                <a href="javascript:void(0)" routerLink="/" class="btn btn-primary button-dark">Back to Dashboard</a>

            </div>
        </div>
    </div>
</div>