body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Poppins !important;
  /*  background-color:var(--primary-bg-color); */
  background: #e5e5e5 !important;
}
/* .open-sidebar {
  background: #e5e5e5;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
}
img {
  max-width: 100%;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
}
ul li {
  list-style: none !important;
}
p {
  margin-bottom: 0 !important;
}
/*********************left side****************/
.open-sidebar .menu_links {
  display: inline !important;
}
.open-sidebar .left_side {
  width: 18%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.open-sidebar .logo_icon {
  display: none;
}

.open-sidebar .logo {
  display: inline !important;
  width: 79%;
}
.open-sidebar .left_side .logo_sec {
  padding: 22px 18px;
}
.open-sidebar .right_side {
  width: 82%;
  padding-left: 30px;
  margin-left: 242px;
}
.left_side .nav-item {
  margin-bottom: 20px;
}
.left_side .nav-link {
  padding-left: 9px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #bbbbbb;
}
.left_side .white {
  display: none;
}
.left_side img {
  margin-right: 10px;
}
.left_side .active .white {
  display: inline;
}
.left_side .active .gray {
  display: none;
}
.open-sidebar .left_side .nav-link {
  padding-left: 20px;
}
.log_out .nav-link,
.log_out a:hover {
  color: #dd3828 !important;
  position: fixed;
  bottom: 20px;
}
.left_side .nav-item .nav-link.active {
  background: #3c61ad;
  border-radius: 4px;
  color: #ffffff;
}
.left_side .logo_sec {
  padding: 23px 23px;
  display: grid;
  align-items: center;
}
.left_side .logo {
  display: none;
}
.right_side {
  width: 94%;
  margin-left: 81px;
}
.left_side .menu_links {
  display: none;
}
.left_side {
  padding: 0;
  padding-top: 0px;
  background: #ffffff;
  width: 6%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left_side .navbar-nav {
  margin-top: 25px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
/********************right side header*****************/

.sidenav {
  position: relative;
}
.sidenav .fa {
  position: absolute;
  left: -8px;
  cursor: pointer;
  font-size: 15px;
}
.open-sidebar .sidenav .fa {
  left: -29px;
}
.right_side .header {
  padding: 7px;
  margin-left: 18px;
}
.header .side_icon {
  display: flex;
  align-items: center;
}
.header .left_col {
  display: flex;
  align-items: center;
}
.header .dropdown img {
  width: 40px;
  margin-left: 6px;
  border-radius: 50%;
}
.header,
.section {
  padding-left: 50px;
  padding-right: 18px;
}
.header .dropdown-menu img {
  width: auto !important;
}
.header .dropdown-menu {
  border: none;
  width: 140px;
  background: #ffffff;
  border-radius: 8px;
  min-width: 9rem;
}
.header .head_sec .btn {
  padding-right: 0;
}
.header .dropdown-item img {
  margin-right: 10px;
}
.header .dropdown-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  padding: 0.25rem 10px;
}
.header .billing {
  color: #3c61ad;
}
.header .logout {
  color: #dd3828;
}
.right_side h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 48px;
  color: #222222;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: unset;
}
.right_side .dropdown-toggle::after {
  content: none;
}
.right_side .leads_sec {
  display: flex;
  align-items: center;
  margin-left: 45px;
  justify-content: center;
}
.leads_sec .group_leads_sec {
  margin-right: 20px;
}
.leads_sec span {
  background: #ffffff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #3c61ad;
  padding: 9px 12px;
}
/********************section*****************/
.leads_generate {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px 30px !important;
  min-height: 360px;
}
.leads_generate h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222222;
}
.leads_generate .no_leads {
  margin-top: 55px;
  padding-bottom: 60px;
}
.leads_generate p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 46%;
  margin: 0 auto;
  line-height: 24px;
  margin-top: 5px;
  color: #757575;
}
/* .leads_generate .graph {
  display: none;
} */
.leads_generate p a {
  color: #3c61ad;
}
.leads_generate .select_groups {
  margin-right: 20px;
}
.leads_generate .form-select,
.admin_bio_list .form-select {
  background: #f5f5f5 !important;
  border-radius: 4px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 11px !important;
  line-height: 21px !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: right 0.75rem center !important;
  background-size: 16px 12px !important;
  border: none !important;
  color: #959595 !important;
}
.form-select:focus {
  box-shadow: unset;
}
/**********************about sec*****************/
.about_sec h2 {
  font-style: normal;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 24px;
  line-height: 36px;
  color: #222222;
}
._ngcontent-ugi-c113 h3 {
  margin-left: 40px;
}
.about_left_sec {
  padding-left: 0px;
}
.about_row_sec {
  background: #ffffff;
  margin-bottom: 15px;
  padding-bottom: 10px !important;
  border-radius: 8px;
}
.about_left_sec h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.about_left_sec p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #757575;
}
.about_left_sec .btn {
  background: #3c61ad;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border: none;
  width: 108px;
  line-height: 20px;
  color: #ffffff;
}
.schedule_call {
  background: #3c61ad;
  padding: 20px 39px;
  border-radius: 8px;
}
.about_right_sec {
  padding-right: 0;
}
.about_right_sec h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 15px;
}
.about_right_sec h4 span {
  color: #ff7a59;
}
.about_right_sec .btn {
  background: #ff7a59;
  border-radius: 4px;
  font-style: normal;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  border: none;
  color: #ffffff;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: unset;
}
/**********************group list page*******************/
.group_list_section {
  padding: 25px;
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.leads_generate.group_list p {
  width: 56%;
}
.leads_generate.group_list .no_leads {
  background: #f5f5f5;
  border-radius: 8px;
  margin-top: 35px;
  padding-top: 90px;
  padding-bottom: 107px;
}
/* .leads_generate.group_list {
   padding-bottom: 80px;
} */
.group_list .filter_btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #3c61ad;
  border-radius: 4px;
  padding: 12px 18px;
  color: #3c61ad;
}
.group_list .filter_btn:hover {
  border: 2px solid #3c61ad !important;
  border-radius: 4px !important;
  padding: 12px 18px !important;
  color: #3c61ad !important;
  background: transparent !important;
}
.group_list .filter_btn img {
  margin-right: 5px !important;
}
.group_list .export_btn,
.group_list .export_btn:hover {
  margin-right: 10px;
  background: #3c61ad !important;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
}
.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  box-shadow: unset;
}
.filter_btn.btn-check:active + .btn-outline-primary,
.filter_btn.btn-check:checked + .btn-outline-primary,
.filter_btn.btn-outline-primary.active,
.filter_btn.btn-outline-primary.dropdown-toggle.show,
.filter_btn.btn-outline-primary:active {
  background: transparent;
}
.group_list_table {
  background: #f5f5f5;
  border-radius: 8px;
}
.group_list_table .table > :not(caption) > * > * {
  border-bottom: none;
}
.group_list_table tr th {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 30px !important;
  color: #222222 !important;
  padding: 15px 20px !important;
}
.group_list_table tr td {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 30px !important;
  padding: 15px 20px !important;
  color: #757575 !important;
}
.group_list_table .table > :not(:first-child) {
  border-top: none;
}
.table-striped > tbody > tr:nth-of-type(2n + 1) > * {
  color: #757575;
}
.group_list_table .table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  background: #eeeeee;
}
.group_list_table .table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  background: #f5f5f5;
}
.pagination .page-link {
  position: relative;
  display: block;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
.group_list .pagination {
  align-items: center;
  justify-content: center;
  margin-top: 29px;
}
/********************affiliate*******************/
.leads_generate.group_list.affiliate_sec {
  padding: 38px 100px;
  margin-top: 70px;
}
.leads_generate.group_list.affiliate_sec p {
  width: 70%;
}
.leads_generate.group_list.affiliate_sec .btn {
  background: #3c61ad;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: none;
  padding: 16px;
  margin-top: 38px;
  margin-bottom: 30px;
  color: #ffffff;
}
/**********************admin bio******************/
.bio_tab .card {
  background: #ffffff;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
}
.bio_tab .card-body h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
}
.bio_tab .card-body p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  color: #757575;
  width: 100%;
  margin-bottom: 10px;
}
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.form-control:focus {
  box-shadow: unset !important;
}
.card-body .form-control,
.form-select,
.publish_modal .form-control,
.social_profile_body .form-control {
  background: #f5f5f5 !important;
  border-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border: none !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 24px !important;
  height: 48px !important;
  margin-top: 15px;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}
.card-body .input-group-text,
.publish_modal .input-group-text {
  background: #3c61ad;
  border-radius: 8px !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 17px !important;
  line-height: 30px !important;
  position: absolute !important;
  cursor: pointer;
  right: 12px !important;
  top: 6px !important;
  padding: 3px 10px !important;
  z-index: 99 !important;
  border: none !important;
  color: #ffffff;
  margin-top: 14px;
}
.bio_tab .card-body {
  padding: 25px 21px 35px 20px !important;
}
.card-body h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.bio_tab .btn-outline-primary:hover {
  color: #3c61ad;
}
.bio_tab .card-body .product,
.group_modal .product {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}
.bio_tab .card-body h4,
.group_modal h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
  color: #222222;
}
.bio_tab .card-body ul,
.group_modal ul {
  list-style: none;
}
.bio_tab .card-body ul li,
.group_modal ul li {
  float: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-right: 20px;
  color: #757575;
}
.bio_tab .product_sec,
.group_modal .product_sec {
  padding-left: 10px !important;
}
.achievement_field .input-group-text {
  background: transparent !important;
  cursor: pointer;
  z-index: 99;
}
.admin_bio_list .form-select {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* identical to box height, or 120% */

  color: #222222;
}
.bio_tab .card-body ul li a {
  float: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-right: 20px;
  color: #757575;
  text-decoration: none;
}
.card-body .form-label,
.social_profile_body .form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}
.bio_tab .user_section {
  border-bottom: 1px solid #cccccc !important;
  padding-bottom: 25px !important;
  margin-bottom: 13px !important;
}
.bio_tab .btn {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  padding: 13px 28px !important;
  border: 2px solid #3c61ad;
  border-radius: 4px;
  color: #3c61ad;
}
.d-flex .preview_btn.bio_btn {
  margin-right: 11px !important;
}
.share_btn:hover {
  background: #3c61ad !important;
  border-radius: 4px !important;
  color: #ffffff !important;
}
#about {
  height: auto !important;
}
.publish_bio {
  position: fixed !important;
  bottom: 0 !important;
  width: 78% !important;
  z-index: 99 !important;
}
.bio_left {
  background: #ffede9;
  border-radius: 8px;
}
.publish_bio .bio_left h4 {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #ff7a59 !important;
}
.admin_url_sec {
  margin-bottom: 100px !important;
}
.publish_bio .btn {
  background: #3c61ad !important;
  border-radius: 4px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  border: none !important;
  line-height: 20px !important;
  padding: 8px 20px !important;
  color: #ffffff !important;
}
.share_btn {
  background: #3c61ad !important;
  border-radius: 4px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  padding: 15px 42px !important;
  border: none !important;
  color: #ffffff !important;
}
.bio_btn img {
  margin-right: 1px;
}
.place img {
  margin-right: 10px;
}
/* .bio_btn {
  padding: 10px 31px !important;
} */
.card-body .required {
  color: red;
}
.share_btn.btn-check:active + .btn-primary,
.share_btn.btn-check:checked + .btn-primary,
.share_btn.btn-primary.active,
.share_btn.btn-primary:active,
.share_btn.show > .btn-primary.dropdown-toggle {
  background: #3c61ad;
}
.form-control::placeholder {
  color: #959595;
}
.group_right_sec img {
  cursor: pointer;
}
.message_bio {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
}

li.p-ripple.p-element.p-dropdown-item {
  width: 777px !important;
}

/********************modal*****************/
.group_modal .modal-dialog {
  max-width: 550px;
  margin: 1.75rem auto;
}
.group_modal .modal-content {
  padding: 6px 11px;
  border: none;
}
.group_modal .modal-header {
  border-bottom: none;
  padding-top: 10px;
}
.group_modal .modal-title {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 25px !important;
  line-height: 48px !important;
  color: #000000 !important;
}
.group_modal .cancel_btn {
  background: transparent !important;
  border: none !important;
}
.group_modal .modal-body {
  padding-top: 0 !important;
}
.select_group_btn,
.add_profile_btn.btn-check:active + .btn-primary,
.select_group_btn,
.add_profile_btn.btn-check:checked + .btn-primary,
.select_group_btn,
.add_profile_btn.btn-primary.active,
.select_group_btn,
.add_profile_btn.btn-primary:active,
.select_group_btn.show,
.add_profile_btn > .btn-primary.dropdown-toggle {
  background: #3c61ad !important;
  border-radius: 8px !important;
  border: none !important;
  color: #ffffff !important;
}
.select_group_btn.btn-primary:hover,
.add_profile_btn.btn-primary:hover {
  color: #fff !important;
  background: #3c61ad !important;
  border: none !important;
}
.social_profiles h3 {
  margin-bottom: 20px !important;
  cursor: pointer !important;
}
.social_profiles h3 img {
  max-width: 20px !important;
  margin-right: 20px !important;
}
.social_link_img {
  margin-right: 10px !important;
}
.social_profiles h3 span {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.select_group_btn,
.add_profile_btn {
  background: #3c61ad !important;
  border-radius: 8px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  border: none !important;
  padding: 15px !important;
  text-align: center !important;
  color: #ffffff !important;
}
.modal-body p {
  font-style: normal !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #757575 !important;
}
.modal-body .success {
  width: 90px;
}
#publish_bioModal .cancel_btn img {
  position: absolute;
  right: 16px;
}
.group_modal h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group_modal .border_left {
  width: 140px;
  height: 0px;
  border: 1px solid #757575;
  float: left;
  margin-right: 7px;
}
.group_modal .border_right {
  width: 140px;
  height: 0px;
  border: 1px solid #757575;
  float: right;
  margin-left: 7px;
}
.social_icons img {
  margin-right: 30px;
}
#publish_bioModal .modal-body {
  padding-top: 30px;
  padding-bottom: 50px;
}
/*******************preview admin bio page****************/
.card .badge.badge-primary {
  background: #3c61ad;
  border-radius: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: 7px;
  /* line-height: 24px; */
  color: #ffffff;
  /* width: 30px;
  height: 30px; */
  text-align: center;
}
.profile_page .profile_right_sec {
  margin-left: 10px;
}
.profile_page .product {
  margin-bottom: 20px;
  margin-top: 14px;
}
.profile_page .share_btn.bio_btn {
  margin-right: 11px;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #3c61ad;
}
.admin_profile .user_section {
  border-bottom: none !important;
  padding-bottom: 0px !important;
  padding-top: 30px;
}
.admin_bio_page.profile_page .card-body h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 218px;
  font-size: 12px;
}
/*********************thanks****************/
.section.thanks_screen {
  background: #f5f5f5;
  padding: 0;
}
.thanks_plugin .leads_generate.no_list {
  display: block;
}
.head_logo {
  padding: 35px;
}
.thanks_plugin {
  background: white;
}
.section.thanks_plugin h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}
/***********************create profile***************/
.create_profile_btn {
  padding: 15px 28px !important;
}

/*****************group plugin*************/
.group_plugin h4 {
  font-size: 20px !important;
  color: #000000 !important;
}
.group_plugin h5 a {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 17px !important;
  line-height: 39px !important;
  color: #757575 !important;
  text-decoration: none !important;
}
.group_plugin .plugin_name {
  width: 70% !important;
}
.group_plugin .plugin_action {
  width: 30% !important;
  justify-content: end !important;
  display: flex !important;
}
.plugin_action .actions {
  margin-right: 20px !important;
}
.plugin_action a {
  text-decoration: none !important;
}
.plugin_action img {
  margin-right: 5px !important;
}
.edit_link.actions {
  color: #3c61ad !important;
}
.delete_link.actions {
  color: #df2329 !important;
}
.plugin_action .actions {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 24px !important;
}
.btn.btn-outline-primary.preview_btn.bio_btn {
  background: transparent !important;
  border: 2px solid #3c61ad;
  border-radius: 4px !important;
  color: #3c61ad;
}
.enable_plugin {
  margin-top: 20px !important;
}
.group_list_section .add_btn {
  background: #3c61ad !important;
  border-radius: 4px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  border: none !important;
  line-height: 20px;
  padding: 13px 20px;
  color: #ffffff;
}
.plugin_snippet h4 {
  color: #000000 !important;
  font-size: 20px !important;
}
.plugin_snippet h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
  margin-top: 6px;
}
.plugin_snippet .btn {
  margin-top: 13px;
}
.card-body .btn {
  /* background: #3c61ad; */
  border-radius: 4px !important;
  /* color: white; */
  border: 2px solid #3c61ad;
}
.general_settings .btn {
  padding: 13px 22px !important;
}
.general_settings h4 {
  font-size: 24px !important;
  margin-bottom: 3px;
}
.settings_sec {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
}
.general_settings .nav.nav-tabs {
  border-bottom: none !important;
  margin-bottom: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #f8f8fa !important;
  border: 1px solid #e8e9eb !important;
  width: 33% !important;
  margin: 0 auto !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 11px 0px !important;
  margin-top: 30px !important;
}
.general_settings .nav-item {
  margin-right: 0 !important;
}
.general_settings .tab-content {
  padding-bottom: 15px !important;
}
.general_settings .nav-tabs .nav-item.show .nav-link,
.general_settings .nav-tabs .nav-link.active {
  color: #495057 !important;
  background-color: #fff !important;
  border: none !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: -0.24px !important;
  color: #3c61ad !important;
}
.general_settings .nav-link {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: -0.24px !important;
  color: #959595 !important;
}
.general_settings .form_div {
  margin-top: 30px !important;
}
.general_settings .nav-tabs .nav-link {
  margin-bottom: 0px !important;
  background: 0 0 !important;
  margin-right: 0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}
.general_settings .nav-tabs .nav-link:focus,
.general_settings .nav-tabs .nav-link:hover {
  border: none !important;
  isolation: isolate !important;
}

/*************** toogle switch ******************************/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #98a19f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 0px;
  bottom: -5px;
  background-color: #3fdbb1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #c6f9eb;
}

input:focus + .slider {
  box-shadow: 2 2 4px #c6f9eb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/************** End of switch ***************/
/*************************Group Profile*****************/
.group-profiles {
  height: 400px;
}
/***********************create profile***************/
.card-body .name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  /* identical to box height */

  color: #000000;
}
.card-body .place {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */

  color: #959595;
}
.create_profile_btn {
  padding: 15px 28px !important;
}
.card-body.create_profile_section {
  padding: 16px 6px;
}
.product_sec li img {
  margin-right: 4px;
}
.create_profile_page .nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.create_profile_page .nav-tabs .nav-link {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  border: none;
  margin-bottom: 0;
  border-radius: unset;
  margin-right: 62px;
}
.create_profile_page .nav-tabs .nav-link.preview {
  margin-right: 0px;
}
.create_profile_page .nav-link.active .badge {
  background: #3c61ad;
  border-radius: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
}
.create_profile_page .nav-link .badge {
  background: #dddddd;
  border-radius: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
}
.create_profile_page .nav-tabs .nav-link:focus,
.create_profile_page .nav-tabs .nav-link:hover {
  border: none;
  isolation: isolate;
}
.popular_topic h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #222222;
}
.popular_topic p {
  width: 80% !important;
  margin: 0 auto;
}
.card.popular_topic {
  padding: 46px 10px 40px;
}
.create_profile_page .nav-tabs {
  border-bottom: none;
  margin-bottom: 35px;
  background-image: url(../images/Rectangle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 7% 32%;
}
.create_profile_page .publish {
  background-image: url(../images/publish_bg.png);
  background-size: cover;
}
.publish .preview_btn.bio_btn {
  margin-right: 0px;
}
.publish ul {
  margin-bottom: 16px;
}
.publish .btn {
  margin-bottom: 16px;
}
.publish .bio_btn img {
  margin-right: 8px;
}
.publish .card.groups_section {
  margin-top: 90px;
  margin-bottom: 82px;
}
.publish {
  margin-top: 20px;
}
.modal-body.publish_modal {
  padding-top: 25px;
  padding-bottom: 47px;
}
#profile_publish_Modal .cancel_btn {
  position: absolute;
  right: 7px;
  top: 11px;
}
.admin_sec h5 a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height */
  text-decoration: none;
  color: #3c61ad;
}
.admin_sec .name {
  font-size: 16px;
  line-height: 25px;
}
.card-body .admin_left_sec {
  margin-right: 9px;
}
.card-body .admin_profile_sec {
  width: 58%;
}
.card-body .admin_sec {
  margin-top: 21px;
}

/******************billing account plan****************/

.billing_acc_plan .plan_card {
  background: #ff7a59;
  border-radius: 4px;
  padding: 13px 16px;
  width: 23%;
}
.billing_acc_plan .plan_card h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  margin-top: 2px !important;
}
.billing_acc_plan .plan_card hr {
  height: 1px;
  color: white;
}
.billing_acc_plan .plan_card p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.billing_acc_plan .plan_card button {
  background: #ffffff;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 34px;
  color: #3c61ad;
}
.groups_section img {
  max-width: 70% !important;
  margin-right: 10px;
  margin-bottom: 10px;
}
.section_css {
  margin-left: 15px;
}
.billing_acc_plan .current_plan {
  margin-left: 35px;
  width: 70%;
}
.billing_acc_plan .current_plan h5 {
  margin-top: 0px !important;
  margin-bottom: 16px;
}
.billing_acc_plan .next_payment {
  background: #3c61ad;
  text-align: center;
  padding: 25px 31px;
  border-radius: 4px;
}
.billing_acc_plan .next_payment h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
  margin-top: 0;
}
.billing_acc_plan .next_payment p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #93b3f3;
  margin-top: 10px;
}
.billing_acc_plan .amount {
  border: 2px solid hsla(220, 48%, 46%, 1);
  border-radius: 4px;
  padding: 34px 31px;
  text-align: center;
}
.billing_acc_plan .amount h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  margin-top: 0;
  color: #3c61ad;
}
.billing_acc_plan .amount p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3c61ad;
}
.billing_acc_plan .billing_cycle button {
  background: #3c61ad;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  padding: 12px 30px;
}
.billing_acc_plan .schedule_call {
  background: #3c61ad;
  padding: 0px;
}
.billing_acc_plan .schedule_call h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 0px;
}
.billing_acc_plan .schedule_call p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #93b3f3;
  max-width: 84%;
}
.billing_acc_plan .schedule_call button {
  background: #ff7a59;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  padding: 9px 27px;
  margin-top: 7px;
}
.billing_acc_plan .schedule_call span {
  color: hsla(12, 100%, 67%, 1);
}
.billing_acc_plan .Payment_method hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
.billing_acc_plan .form_div label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #222222;
}
.billing_tabs .blue {
  display: none;
}
.billing_tabs .nav-link.active .blue {
  display: inline;
}
.billing_tabs .nav-link.active .grey {
  display: none;
}
.billing_tabs .nav-link img {
  margin-right: 8px;
}
.nav.nav-tabs.billing_tabs {
  border-bottom: none;
  margin-bottom: 30px;
}
.billing_acc_plan .card-body {
  padding: 25px 21px 24px 20px;
}
.billing_tabs.nav-tabs .nav-item.show .nav-link,
.billing_tabs.nav-tabs .nav-link.active {
  color: #495057;
  background: transparent;
  border-bottom: 2px solid #3c61ad !important;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #3c61ad !important;
}
.billing_tabs .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #bbbbbb;
}
.billing_tabs.nav-tabs .nav-link:focus,
.billing_tabs.nav-tabs .nav-link:hover {
  border: none;
  isolation: isolate;
}
.billing_tabs.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: none;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.back_btn {
  color: #3c61ad !important;
  border: 2px solid #3c61ad !important;
  border-radius: 4px !important;
  background: transparent !important;
}
.admin_sec .btn {
  color: #3c61ad;
  border: 2px solid #3c61ad;
  border-radius: 4px;
  background: transparent;
}
/****************preview profile**************/
.no_reviews h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}
.no_reviews img {
  margin-bottom: 10px;
}
.review_btn {
  background: #3c61ad !important;
  border-radius: 4px !important;
  color: #fff !important;
}
.reviews h5 {
  color: #757575;
}
.reviews .days {
  color: #3c61ad;
}
.admin_sec .name {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}
.admin_sec .user_profile {
  width: 60%;
}
.admin_sec .review_star {
  width: 40%;
  display: flex;
  align-items: center;
}
.review_sec {
  border-top: 1px solid #ccc;
  margin-top: 25px;
}
.review_btn img {
  margin-bottom: 0;
}
.card-body a {
  color: #3c61ad;
  text-decoration: underline;
  text-decoration-color: #3c61ad;
}
.topics_name {
  margin-top: 17px;
}
.topics_name span {
  background: #f5f5f5;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  margin-right: 7px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  display: inline-block;
  color: #aaaaaa;
  padding: 12px;
}
.key_stats h4 {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #959595 !important;
}
.key_stats h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #3c61ad;
}
.card-body.key_stats h3 {
  margin-bottom: 12px;
}
.overview h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.overview h4 {
  font-weight: 300 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #757575 !important;
  margin-top: 6px;
}
.message_admin_btn {
  border: 2px solid #3c61ad !important;
  border-radius: 4px !important;
  background: transparent !important;
  color: #3c61ad !important;
  padding: 11px 30px !important;
}
/**************manage  profile*************/
.manage_profile_banner {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 380px;
}
.admin_bio_list a {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  line-height: 20px;
  color: #3c61ad;
}
.edit_field {
  width: 43%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: end;
}
.edit_field img {
  max-width: 30px;
  object-fit: cover;
}
.heading {
  width: 60%;
}
.manage_profile_banner a {
  background: rgba(60, 97, 173, 0.24) !important;
  backdrop-filter: blur(12px) !important;
  border-radius: 4px !important;
  color: #ffffff !important;
  border: none !important;
}
.manage_profile_banner a:hover {
  background: rgba(60, 97, 173, 0.24) !important;
  backdrop-filter: blur(12px) !important;
  border-radius: 4px !important;
  color: #ffffff !important;
  border: none !important;
}
.manage_profile_banner a.btn-check:active + .btn-primary,
.manage_profile_banner a.btn-check:checked + .btn-primary,
.manage_profile_banner a.btn-primary.active,
.manage_profile_banner a.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  background: rgba(60, 97, 173, 0.24) !important;
  backdrop-filter: blur(12px) !important;
  border-radius: 4px !important;
}
.manage_profile_banner a.btn-check:focus + .btn-primary,
.manage_profile_banner a.btn-primary:focus {
  color: #fff !important;
  background: rgba(60, 97, 173, 0.24) !important;
  backdrop-filter: blur(12px) !important;
}
.manage_profile_banner .share {
  margin-right: 10px !important;
}
.profile_banner_cols {
  padding-right: 40px !important;
}
.total_reviews {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  background: #ffffff !important;
  padding: 12px 14px !important;
  color: #3c61ad !important;
  /* margin-left: 10px !important; */
}
.total_review_btn {
  padding: 13px 11px !important;
  padding-right: 11px !important;
  padding-right: 0 !important;
}
/**************edit modal*****************/
.modal-body h5 {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #757575 !important;
}
.key_stats h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.key_stats h6 {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  letter-spacing: 0.03em;
  margin-top: 9px;
  margin-bottom: 0px;
  color: #757575;
}
.all_review_btn {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 20px !important;
  background: transparent !important;
  border: 2px solid #3c61ad !important;
  border-radius: 4px !important;
  color: #3c61ad !important;
}
.all_review_btn:hover {
  background: transparent !important;
  border: 2px solid #3c61ad !important;
  border-radius: 4px !important;
  color: #3c61ad !important;
}
.all_review_btn.btn-check:active + .btn-outline-primary,
.all_review_btn.btn-check:checked + .btn-outline-primary,
.all_review_btn.btn-outline-primary.active,
.all_review_btn.btn-outline-primary.dropdown-toggle.show,
.all_review_btn.btn-outline-primary:active {
  background: transparent !important;
  border: 2px solid #3c61ad !important;
  color: #3c61ad !important;
}
.manage_profile h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px !important;
  line-height: 60px !important;
  color: #222222;
  width: auto !important;
  text-overflow: unset;
}
.manage_profile li {
  font-size: 25px !important;
  line-height: 48px !important;
}
.manage_profile li img {
  margin-right: 5px;
}
.manage_profile.tab_sec {
  border-top: 1px solid gray;
  padding: 5px 20px 18px;
}
.manage_profile.tab_sec li a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #959595;
}
.manage_profile.tab_sec li .active {
  border-bottom: 2px solid #3c61ad;
  color: #3c61ad;
}
.manage_profile li {
  float: left;
  margin-right: 30px;
}
.stats_cols {
  width: 30%;
}
.manage_profile_banner_review {
  position: absolute;
  top: 322px;
  width: 100%;
  left: 23px;
}
.card .owl-dots {
  display: none;
}
.card .owl-nav {
  display: none;
}
.card .group_admin {
  margin-right: 10px;
}
.upload_ss {
  background: #f5f5f5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 47px 60px;
  margin-top: 20px;
}
/* Group profile page */
.p-steps-item .p-menuitem-link {
  background: unset !important;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  color: #f6fdff !important;
  background: #dddddd !important;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  background: #3c61ad !important;
  color: #fffff2 !important;
}
.p-steps .p-steps-item:before {
  border-top: 6px solid #eeeeee !important;
}

.p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #e5e5e5 !important;
}
.p-steps .p-steps-item.p-highlight .p-steps-title {
  font-weight: 400 !important;
  color: #000000 !important;
  font-size: 18px !important;
}
.message-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 13px 36px;
  border: 2px solid #3c61ad;
  border-radius: 4px;
  color: #3c61ad;
  background-color: white;
}
.tab-menu {
  cursor: pointer;
}
.review-rating {
  background: #ff7a59;
  width: 80px;
  height: 80px;
  float: left;
  border-radius: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.review-write {
  padding-left: 0px !important;
}
.rating {
  padding-right: 0px !important;
  background: rgba(60, 97, 173, 0.24);
  backdrop-filter: blur(12px);
  height: 47px;
  margin-top: -12px !important;
}
.slider.round:before {
  border-radius: 50%;
}
#mySwitch {
  background-color: #c6f9eb;
  display: inline-block;
  width: 46px;
  height: 17px;
  border: none;
  border-radius: 34px;
  margin-left: 775px;
  margin-top: 36px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.a_css {
  text-decoration: underline;
  text-decoration-color: #3c61ad;
}
.p-readonly {
  padding: 13px;
}
.review-image-upload {
  width: 60px !important;
}
#review-image-show {
  width: 100px;
  margin: auto;
  display: flex;
}
.p-rating-icon {
  display: inline !important;
}

.review-setting .name {
  padding-left: 6px !important;
  line-height: 21px !important;
}

.review-setting .user_profile {
  display: flex !important;
}
.about_right_sec {
  padding-right: 0 !important;
}
.product h3 img {
  margin-right: 10px;
}
.bio_btn img {
  margin-right: 6px;
}

.card .badge.badge-primary {
  background: #3c61ad;
  border-radius: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 5px;
  margin-left: 7px;
  color: #ffffff;
  text-align: center;
  width: 26px;
  height: 26px;
  padding: 8px;
}
.group_admin_msg {
  padding: 13px 19px !important;
  text-align: center !important;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .open-sidebar .right_side {
    width: 82%;
    padding-left: 30px;
    margin-left: 152px;
  }
  .group_list_section {
    padding-left: 34px !important;
    padding-right: 38px !important;
  }
  .bio_tab .btn {
    font-size: 10px !important;
  }
  .p-readonly {
    padding: 14px 14px 0px 0px;
  }
  .billing_acc_plan .next_payment {
    padding: 50px 35px;
  }
  .billing_acc_plan .amount h5 {
    font-size: 33px;
  }
  .publish_bio .btn {
    font-size: 12px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .left_side .navbar-nav {
    margin-top: 25px !important;
    padding-left: 10px !important;
  }
  .open-sidebar .left_side {
    width: 20%;
  }
  .open-sidebar .right_side {
    width: 82%;
    padding-left: 30px;
    margin-left: 128px;
  }
  .billing_acc_plan .amount h5 {
    font-size: 18px;
    line-height: 35px;
  }
  .billing_acc_plan .amount p {
    font-size: 13px;
  }
  .open-sidebar .left_side .nav-link {
    padding-left: 11px;
  }
  .group_list_section {
    padding: 25px;
    padding-left: 24px !important;
    padding-right: 10px !important;
  }
  .billing_acc_plan .next_payment {
    padding: 37px 18px;
  }
  .p-readonly {
    padding: 13px 4px 0px 0px;
  }
  .manage_profile h4 {
    font-size: 33px !important;
  }
  .billing_acc_plan .amount {
    padding: 34px 28px;
  }
  .bio_tab .btn {
    font-size: 10px !important;
  }
}

.modal-body.publish_modal {
  padding-top: 0px;
  padding-bottom: 47px;
}
.modal-body .border_left {
  width: 140px;
  height: 0px;
  border: 1px solid #757575;
  float: left;
  margin-right: 7px;
}
.modal-body .border_right {
  width: 140px;
  height: 0px;
  border: 1px solid #757575;
  float: right;
  margin-left: 7px;
}
.p-dialog {
  width: 40vw;
}
.modal-body.publish_modal h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-body .modal-title {
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 60px;
  color: #000000;
}
.card.groups_section h4 {
  margin-bottom: 9px !important;
}
.btn.btn-outline-primary.preview_btn.bio_btn {
  background: transparent !important;
  border: 2px solid #3c61ad;
  border-radius: 4px !important;
  color: #3c61ad;
  padding: 8px 25px !important;
}

.review-setting .pi-star {
  color: white !important;
}
