<div class="open-sidebar">
    <div class="container-fluid">
        <div class="row">
            <app-sidebar></app-sidebar>
            <ngx-spinner bdOpacity=0.4 bdColor="rgba(51,51,51,0.42)" size="medium" color="#2457c7" type="ball-spin-fade"
                [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div class="col-md-10 right_side">
                <div class="row header">
                    <div class="col-md-8 left_col">
                        <div class="d-flex">

                            <div>
                                <h3>Become An Affiliate</h3>
                            </div>
                            <div class="leads_sec">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <app-header-profile></app-header-profile>
                    </div>
                </div>

                <div class="row section group_list_section">
                    <div class="leads_generate group_list affiliate_sec">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/people.png" />
                                <h3>Become A Group Leads Partner</h3>
                                <p>Promote Group Leads and earn 30% Recurring Commission.</p>
                                <div class="col-md-12 d-grid">
                                    <a type="button" target="_blank" href="https://www.groupleads.net/affiliates"
                                        class="btn btn-primary btn-block">Click Here To Grab Your
                                        Affiliate Link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>