<div class="d-flex text-white justify-content-end">
    <div class="p-2 d-grid align-items-center head_sec">
        <a href="https://docs.groupleads.net/" target="_blank"><img src="assets/images/Help.png" class="help" /></a>
    </div>
    <div class="p-2 d-grid align-items-center head_sec">
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                <img profile-image src="assets/images/default.jpg" />
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item billing" href="#" routerLink="/billing"><img
                            src="assets/images/wallet.png" />Billing</a></li>
                <li><a class="dropdown-item logout" href="javascript:void(0)" (click)="logout()"><img
                            src="assets/images/logout.png" />
                        Log
                        out</a></li>
            </ul>
        </div>
    </div>
</div>