<div class="col-md-2 left_side">
    <a href="#" class="logo_sec"><img src="assets/images/logo.png" class="logo" /><img src="assets/images/logo_icon.jpg"
            class="logo_icon" /></a>
    <ul class="navbar-nav">
        <li class="nav-item ">
            <a class="nav-link" href="javascript:void(0)" routerLink="/dashboard" routerLinkActive="active"><img
                    src="assets/images/dashboard.png" class="gray" /><img src="assets/images/dashboard_white.png"
                    class="white" /><span class="menu_links">Dashboard</span></a>
        </li>
        <li class="nav-item group-list-leads">
            <a class="nav-link" href="javascript:void(0)" routerLink="/group-list" routerLinkActive="active"><img
                    src="assets/images/list.png" class="gray" /><img src="assets/images/list_white.png"
                    class="white" /><span class="menu_links">Group List</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" routerLink="/admin-bio" routerLinkActive="active"><img
                    src="assets/images/admin.png" class="gray" /><img src="assets/images/admin_white.png"
                    class="white" /><span class="menu_links">Admin Bio</span></a>
        </li>
        <li class="nav-item group-profiles-list">
            <a class="nav-link" href="javascript:void(0)" routerLink="/group-profiles" routerLinkActive="active"><img
                    src="assets/images/profile.png" class="gray" /><img src="assets/images/profile_white.png"
                    class="white" /><span class="menu_links">Group
                    Profiles</span></a>
        </li>
        <li class="nav-item group-plugin">
            <a class="nav-link" href="javascript:void(0)" routerLink="/group-plugin" routerLinkActive="active"><img
                    src="assets/images/volume.png" class="gray" /><img src="assets/images/volume_white.png"
                    class="white" /><span class="menu_links">Group
                    Plugin</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" routerLinkActive="active" routerLink="/affiliate"><img
                    src="assets/images/like.png" class="gray" /><img src="assets/images/like_white.png"
                    class="white" /><span class="menu_links">Become an
                    affiliate</span></a>
        </li>

    </ul>
    <ul class="navbar-nav log_out">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="logout()"><img src="assets/images/logout.png"
                    class="gray" /><span class="menu_links">Log
                    out</span></a>
        </li>
    </ul>
</div>