<div class="open-sidebar">
    <div class="container-fluid">
        <div class="row">
            <app-sidebar></app-sidebar>
            <ngx-spinner bdOpacity=0.4 bdColor="rgba(51,51,51,0.42)" size="medium" color="#2457c7"
                type="ball-scale-multiple" [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div class="col-md-10 right_side">
                <div class="row header">
                    <div class="side_icon">
                        <span class="sidenav"><i class="fa fa-navicon"></i></span>
                    </div>
                    <div class="col-md-8 left_col">
                        <div class="d-flex">
                            <div>
                                <h3>Group Plugin</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <app-header-profile></app-header-profile>
                    </div>
                </div>
                <div class="row section group_list_section">
                    <div class="row bio_tab">
                        <div class="card groups_section group_plugin">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="plugin_name">
                                        <h4>Group Leads Website</h4>
                                        <h5><a class="leads_link" href="#">https://www.group leads.net</a></h5>
                                    </div>
                                    <div class="plugin_action">
                                        <a class="edit_link actions" href="#"><img src="assets/images/edit.png">
                                            Edit</a>
                                        <a class="delete_link actions" href="#"> <img
                                                src="assets/images/trash.png">Delete</a>
                                    </div>
                                </div>

                                <div class="d-flex enable_plugin">
                                    <div class="plugin_name">
                                        <h4>Enable Group Plugin</h4>
                                    </div>
                                    <div class="plugin_action">
                                        <div class="form-check form-switch switch_btn">
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card groups_section group_plugin">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="plugin_name">
                                        <h4>Group Leads Website</h4>
                                        <h5><a class="leads_link" href="#">https://www.group leads.net</a></h5>
                                    </div>
                                    <div class="plugin_action">
                                        <a class="edit_link actions" href="#"><img src="assets/images/edit.png">
                                            Edit</a>
                                        <a class="delete_link actions" href="#"> <img
                                                src="assets/images/trash.png">Delete</a>
                                    </div>
                                </div>

                                <div class="d-flex enable_plugin">
                                    <div class="plugin_name">
                                        <h4>Enable Group Plugin</h4>
                                    </div>
                                    <div class="plugin_action">
                                        <div class="form-check form-switch switch_btn">
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card groups_section group_plugin">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="plugin_name">
                                        <h4>Group Leads Website</h4>
                                        <h5><a class="leads_link" href="#">https://www.group leads.net</a></h5>
                                    </div>
                                    <div class="plugin_action">
                                        <a class="edit_link actions" href="#"><img src="assets/images/edit.png">
                                            Edit</a>
                                        <a class="delete_link actions" href="#"> <img
                                                src="assets/images/trash.png">Delete</a>
                                    </div>
                                </div>

                                <div class="d-flex enable_plugin">
                                    <div class="plugin_name">
                                        <h4>Enable Group Plugin</h4>
                                    </div>
                                    <div class="plugin_action">
                                        <div class="form-check form-switch switch_btn">
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-end p-0">
                            <button type="button" class="btn btn-primary add_btn"><img
                                    src="assets/images/add_white.png" /> Add Site</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>