/* You can add global styles to this file, and also import other style files */
/* body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.row {
  margin-left: 0 !important;
}
hr {
  margin-top: 0;
}
a:hover {
  text-decoration: none;
} */
/*******************header-before-login**********************/
.bg-top {
  background-image: url("assets/images/bg.png");
  background-size: cover;
  color: #ffffff;
}
.bg-top h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 90px;
}
.bg-top p {
  font-size: 20px;
  line-height: 37px;
  font-weight: normal;
}
/****************section****************/
.login-screen img {
  width: 350px !important;
}
.login-screen .form-control {
  background: #fbfbfb;
  border: 2px solid #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
  border-radius: 10px;
  height: 60px;
}
.login-screen .form-control::placeholder {
  font-size: 18px;
  color: #666666;
}
.login-screen .btn {
  background: #3c61ad;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  border: none;
  color: #ffffff;
  width: 100%;
}
.login-screen a {
  font-size: 17px;
  line-height: 37px;
  color: #3c61ad;
  text-decoration: none;
  font-weight: bold;
}
.login-screen form {
  min-height: 350px;
}
.login-screen h6 {
  font-size: 17px;
  line-height: 37px;
  font-weight: normal;
  color: #262626;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3c61ad;
  border: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: unset;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: unset;
}

.form-group {
  margin-bottom: 1rem;
}
a.forget-password {
  text-decoration: none !important;
  background-color: transparent !important;
}

.footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  color: #df2329;
}
.login-screen form {
  min-height: 350px;
}

.nav-link:focus,
.nav-link:hover {
  color: #bbc1d3 !important;
}

.leads_generate .select_groups {
  margin-right: 20px;
}
.export_btn button {
  background-color: white !important;
  border: none !important;
  color: #3c61ad !important;
  padding: 0px !important;
}

.export_btn button img {
  width: auto !important;
}

.dropdown-menu.custom-dropdown a.dropdown-item {
  color: gray !important;
  font-size: 12px !important;
}
.link {
  background: #e2e2e2;
}
.p-datatable .p-datatable-thead > tr > th {
  background: none !important;
}

.group_list_table {
  margin-top: 25px !important;
}

.group_list_table th:first-child {
  width: 29%;
}
.group_list_table th:nth-child(2) {
  width: 20%;
}
.group_list_table th:nth-child(3) {
  width: 20%;
}

.p-datatable .p-datatable-tbody > tr:nth-of-type(2n + 1) {
  background: #9e9e9e33 !important;
  color: #495057 !important;
  transition: box-shadow 0.2s !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: #f5f5f5 !important;
}
.p-datatable-thead {
  background: #f5f5f5 !important;
}

.p-datatable-resizable .p-datatable-tbody > tr > td:nth-child(1) {
  overflow: hidden !important;
  width: 1400px !important;
  text-overflow: ellipsis !important;
  word-break: break-word !important;
  white-space: inherit !important;
}
.appearance {
  appearance: auto !important;
}
.country-image {
  width: 30px !important;
}
.social-input {
  padding-left: 29px !important;
}
.social_profile_body h4 img {
  margin-right: 5px !important;
}
.placeholder-icon {
  position: absolute !important;
  top: 100px !important;
  left: 22px !important;
}

.preview_btn:hover {
  color: #3c61ad !important;
  background-color: #fff !important;
  border-color: #3c61ad !important;
}
.preview_btn.btn:disabled {
  color: gray !important;
  border: 1px solid #80808042 !important;
}
.share_btn.btn:disabled {
  border: gray !important;
  background-color: gray !important;
}
.publish-bio-btn:hover {
  background-color: #3c61ad !important;
}

/***************** admin-bio-preview ************************/

.profile_page .badge,
.profile_page .product p {
  margin-left: 14px;
}
.right_sec {
  padding-left: 15px !important;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .bio_tab .btn {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    padding: 10px 16px !important;
  }
  .profile_page .product p {
    margin-left: 14px;
  }
  .bio_tab .name {
    font-size: 21px;
  }
  .group_right_sec,
  .group_left_sec {
    padding: 0;
  }
  .publish_bio .btn {
    font-size: 11px;
  }
  .admin_bio_page.profile_page .card-body h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65px;
    font-size: 12px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .bio_tab .btn {
    font-size: 15px;
  }
}
.admin_bio_page.profile_page .card-body h4 .preview-group {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 202px;
  font-size: 12px;
}

iframe {
  border-width: 0px !important;
}
.country-flag {
  width: 40px !important;
}
a {
  text-decoration: none !important;
}

.custom-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
}
a.social-link {
  cursor: pointer !important;
}
img.social-icons {
  margin-right: 2px !important;
}

input#firstName,
input#lastName {
  cursor: no-drop !important;
  text-transform: capitalize !important;
}
.publish-bio-btn.btn:disabled {
  background: gray !important;
}
#profile-image {
  min-width: 68px;
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  min-width: 65px !important;
  min-height: 65px !important;
  border: solid 1px gray;
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  cursor: pointer;
  position: absolute;
  top: 41px;
  left: 46px;
  border: 1px solid gray;
  width: 20px !important;
}

#profile-image img {
  border-radius: 50% !important;
}
.error {
  color: red !important;
}
/* group profile create */
.steps-model {
  margin-bottom: 35px !important;
}

textarea {
  background: #f5f5f5 !important;
  width: 100% !important;
  border: unset !important;
}

.p-inputtext:enabled:focus {
  box-shadow: unset !important;
}
.form-select:focus {
  box-shadow: unset !important;
}
.topics .p-chips {
  display: block !important;
}

.topics input[type="text"] {
  padding: 6px !important;
}
.topics ul:focus {
  box-shadow: unset !important;
}

.topics ul {
  background: #f5f5f5 !important;
}
.topics ul.p-inputtext.p-chips-multiple-container:not(.p-disabled).p-focus {
  border-color: #f5f5f5 !important;
  box-shadow: unset !important;
}

#upload-image img {
  max-width: 84% !important;
  object-fit: cover !important;
}

button[disabled] {
  cursor: no-drop !important;
}
.upload-image {
  position: relative !important;
  text-align: center;
}
.conversation-review-image {
  max-width: 480px !important;
  border: 1px solid gray !important;
  min-width: 480px !important;
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
}
.upload-image span {
  position: absolute !important;
  right: 10px !important;
  top: 26px !important;
  border: 2px solid #3c61ad !important;
  width: 25px;
}
.limitTextHeight {
  height: 115px;
  overflow: hidden;
}
.conversation-item {
  width: 195px !important;

  margin-right: 5px !important;
}
.conversation-image {
  min-height: 350px !important;
  max-height: 350px !important;
  object-fit: cover !important;
  border: 1px solid blue !important;
  border-radius: 5px !important;
}
.top-conversation {
  margin-bottom: 15px !important;
}
.admin-imag {
  border-radius: 52px !important;
  width: 50px !important;
  border: 2px solid #80808047 !important;
  min-width: 50px !important;
  min-height: 50px !important;
  max-height: 50px !important;
  max-width: 50px !important;
}

.review-setting .p-rating .p-rating-icon.pi-star-fill {
  color: #ffc107 !important;
}
.review-rating img {
  margin-bottom: 5px;
  margin-right: 2px;
}
.reviews-image {
  width: 45px !important;
  border-radius: 50%;
  border: 2px solid #80808047 !important;
  min-width: 50px !important;
  min-height: 50px !important;
  max-height: 50px !important;
  max-width: 50px !important;
}
.preview-image {
  border: 2px solid #80808059;
  min-width: 70px !important;
  min-height: 70px !important;
  border-radius: 50%;
}
