<div class="open-sidebar">
    <div class="container-fluid">
        <div class="row">
            <app-sidebar></app-sidebar>
            <ngx-spinner bdOpacity=0.4 bdColor="rgba(51,51,51,0.42)" size="medium" color="#2457c7"
                type="ball-scale-multiple" [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div class="col-md-10 right_side">
                <div class="row header">
                    <div class="side_icon">
                        <span class="sidenav"><i class="fa fa-navicon"></i></span>
                    </div>
                    <div class="col-md-8 left_col">
                        <div class="d-flex">
                            <div>
                                <h3>Group Profiles</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <app-header-profile></app-header-profile>
                    </div>
                </div>
                <div class="row section group_list_section create_profile_page">
                    <div class="row bio_tab">
                        <div class="card groups_section">
                            <div class="card-body create_profile_section">
                                <!-- <h3 class="text-center mb-4">Select a group to manage or create a group profile</h3> -->
                                <!-- <p>Select the group(s) that you currently own or admin</p> -->
                                <div class="col-md-12 d-flex align-items-center justify-content-end">
                                    <div class="col-md-1 product_img p-0"><img src="assets/images/product.png" /></div>
                                    <div class="col-md-8 product_sec">
                                        <h4 *ngIf="groupFlag">{{groupDetails.group_name}}</h4>
                                        <ul>
                                            <li><img src="assets/images/public.png" />Public</li>
                                            <li><img src="assets/images/members.png" />364 members</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end group_right_sec">
                                        <!-- <img src="assets/images/refresh.png" /> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p-steps [model]="items" [readonly]="false"></p-steps>

                        <div class="stepsdemo-content card-body">
                            <p-card>
                                <!-- <ng-template pTemplate="title">
                                    Personal Information
                                </ng-template>
                                <ng-template pTemplate="subtitle">
                                    Enter your personal information
                                </ng-template> -->
                                <ng-template pTemplate="content">

                                    <div class="p-fluid" class="field ">

                                        <label for="description" class="form-label">Group Description <span
                                                class="required">*</span></label>
                                        <textarea class="form-control" rows="5" id="description" name="text"
                                            placeholder="Write a brief description about yourself with regards to your group..."
                                            class="form-control"></textarea>
                                        <!-- <label for="firstname">Firstname</label>
                                        <input #firstname="ngModel" id="firstname" type="text" required pInputText
                                            [(ngModel)]="groupOverview.firstname"
                                            [ngClass]="{'ng-dirty': (firstname.invalid && submitted) || (firstname.dirty && firstname.invalid)}">
                                        <small
                                            *ngIf="(firstname.invalid && submitted) || (firstname.dirty && firstname.invalid)"
                                            class="p-error">Firstname is required.</small> -->
                                    </div>
                                    <div class="field ">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3 mt-3 form-group">
                                                    <label for="location" class="form-label">Group Category <span
                                                            class="required">*</span> </label>
                                                    <select class="form-select" [(ngModel)]="groupOverview.category">
                                                        <option>Humor</option>
                                                        <option>Food </option>
                                                        <option>Arts and Crafts</option>
                                                        <option>Travel</option>
                                                        <option>Photography</option>
                                                        <option>Lifestyle</option>
                                                        <option>Health and Fitness</option>
                                                        <option>Career Development</option>
                                                        <option>Family & Relationships</option>
                                                        <option>Non Governmental Organisation</option>
                                                        <option>Others</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3 mt-3 form-group">
                                                    <label for="location" class="form-label">Group Location <span
                                                            class="required">*</span> </label>
                                                    <select class="form-select" [(ngModel)]="groupOverview.location">
                                                        <option>Select Location</option>
                                                        <option>Food </option>
                                                        <option>Arts and Crafts</option>
                                                        <option>Travel</option>
                                                        <option>Photography</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <label for="lastname">Lastname</label>
                                        <input #lastname="ngModel" id="lastname" type="text" required pInputText
                                            [(ngModel)]="groupOverview.lastname"
                                            [ngClass]="{'ng-dirty': (lastname.invalid && submitted) || (lastname.dirty && lastname.invalid)}">
                                        <small class="p-error"
                                            *ngIf="(lastname.invalid && submitted )|| (lastname.dirty && lastname.invalid)">Lastname
                                            is required.</small> -->
                                    </div>
                                    <div class="field ">
                                        <h3>Set Username</h3>
                                        <p>Choose a unique username for your admin bio.</p>
                                        <div>
                                            <input type="text" required [(ngModel)]="groupOverview.groupUrl"
                                                class="form-control"
                                                placeholder="https://groupleds.net/profile/danedwards">

                                        </div>
                                        <!-- <label for="age">Age</label>
                                        <input #age="ngModel" id="age" type="number" required pInputText
                                            [(ngModel)]="groupOverview.age"
                                            [ngClass]="{'ng-dirty': (age.invalid && submitted) || (age.dirty && age.invalid)}">
                                        <small class="p-error"
                                            *ngIf="(age.invalid && submitted) || (age.dirty && age.invalid)">Age is
                                            required.</small> -->
                                    </div>

                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <div class="grid grid-nogutter justify-content-end">
                                        <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right"
                                            iconPos="right"></p-button>
                                    </div>
                                </ng-template>
                            </p-card>
                        </div>







                        <!-- old code -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#overview"><span
                                        class="badge badge-primary">1</span><br>Group Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#Popular_Topics"><span
                                        class="badge badge-primary">2</span><br>Popular Topics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#Top_Conversations"><span
                                        class="badge badge-primary">3</span><br>Top Conversations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link preview" data-bs-toggle="tab" href="#Preview"><span
                                        class="badge badge-primary">4</span><br>Preview & Publish</a>
                            </li>
                        </ul>
                        <div class="tab-content col-md-12 p-0 ">
                            <div id="overview" class="tab-pane active">
                                <div class="card admin_section">
                                    <div class="card-body">
                                        <div>
                                            <label for="description" class="form-label">Group Description <span
                                                    class="required">*</span></label>
                                            <textarea class="form-control" rows="5" id="description" name="text"
                                                placeholder="Write a brief description about yourself with regards to your group..."></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3 mt-3 form-group">
                                                    <label for="location" class="form-label">Group Category <span
                                                            class="required">*</span> </label>
                                                    <select class="form-select">
                                                        <option>Humor</option>
                                                        <option>Food </option>
                                                        <option>Arts and Crafts</option>
                                                        <option>Travel</option>
                                                        <option>Photography</option>
                                                        <option>Lifestyle</option>
                                                        <option>Health and Fitness</option>
                                                        <option>Career Development</option>
                                                        <option>Family & Relationships</option>
                                                        <option>Non Governmental Organisation</option>
                                                        <option>Others</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3 mt-3 form-group">
                                                    <label for="location" class="form-label">Group Location <span
                                                            class="required">*</span> </label>
                                                    <select class="form-select">
                                                        <option>Select Location</option>
                                                        <option>Food </option>
                                                        <option>Arts and Crafts</option>
                                                        <option>Travel</option>
                                                        <option>Photography</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card user_name_section">
                                    <div class="card-body">
                                        <h3>Set Username</h3>
                                        <p>Choose a unique username for your admin bio.</p>
                                        <div>
                                            <input type="text" class="form-control"
                                                placeholder="https://groupleds.net/profile/danedwards">

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 d-flex justify-content-end p-0">
                                    <button type="button" class="btn btn-primary add_btn">Next <img
                                            src="assets/images/arrow_right.png"></button>
                                </div>
                            </div>
                            <div id="Popular_Topics" class="tab-pane fade">
                                <div class="card popular_topic">
                                    <div class="card-body text-center">
                                        <img src="assets/images/message-add.png" />
                                        <h4>What topics are most discussed in your Group?</h4>
                                        <p>You can add up to 5 topics here to let brands know what kind of converstions
                                            are happening in your group.</p>
                                        <div>
                                            <input type="text" class="form-control"
                                                placeholder="Enter comma (,) to seperate topics">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary add_btn back_btn"> <img
                                                    src="assets/images/arrow_left.png"> Back</button>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <button type="button" class="btn btn-primary add_btn">Next <img
                                                    src="assets/images/arrow_right.png"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Top_Conversations" class="tab-pane fade">
                                <div class="card popular_topic">
                                    <div class="card-body text-center">
                                        <img src="assets/images/gallery-add.png" />
                                        <h4>Show engaging conversations happening in your group </h4>
                                        <p>Upload screenshots of engaging conversations happening in your group below.
                                            Help brands see what you do.</p>
                                        <img src="assets/images/upload_ss.png" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary add_btn back_btn"> <img
                                                    src="assets/images/arrow_left.png"> Back</button>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <button type="button" class="btn btn-primary add_btn">Next <img
                                                    src="assets/images/arrow_right.png"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Preview" class="tab-pane fade">
                                <div class="card popular_topic">
                                    <div class="card-body text-center">
                                        <h4>Ready to publish your group’s profile? </h4>
                                        <p>Your group’s profile is saved but not published. Publish now to share with
                                            brands and start getting reviews.</p>
                                        <div class="publish">
                                            <div class="row">
                                                <div class="col-md-4"></div>
                                                <div class="col-md-4 p-0">
                                                    <div class="card groups_section">
                                                        <div class="card-body create_profile_section">
                                                            <div class="col-md-12">
                                                                <h4>Chatsilo Support Group</h4>
                                                                <ul
                                                                    class="d-flex align-items-center justify-content-center">
                                                                    <li><img src="assets/images/public.png" />Public
                                                                    </li>
                                                                    <li><img src="assets/images/members.png" />364
                                                                        members</li>
                                                                </ul>
                                                                <button type="button"
                                                                    class="btn btn-outline-primary preview_btn bio_btn"><img
                                                                        src="assets/images/eye.png" />Preview
                                                                    Bio</button>
                                                                <button type="button"
                                                                    class="btn btn-primary share_btn bio_btn"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#profile_publish_Modal"><img
                                                                        src="assets/images/right.png" />Publish
                                                                    Bio</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary add_btn back_btn"> <img
                                                    src="assets/images/arrow_left.png"> Back</button>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <button type="button" class="btn btn-primary add_btn">Next <img
                                                    src="assets/images/arrow_right.png"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>