<div class="open-sidebar">
    <div class="container-fluid">
        <div *ngIf="displayForm" class="row">
            <app-sidebar></app-sidebar>
            <ngx-spinner bdOpacity=0.4 bdColor="rgba(51,51,51,0.42)" size="medium" color="#2457c7"
                type="ball-scale-multiple" [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div class="col-md-10 right_side">
                <div class="row header">
                    <div class="side_icon">
                        <span class="sidenav"><i class="fa fa-navicon"></i></span>
                    </div>
                    <div class="col-md-8 left_col">
                        <div class="d-flex">
                            <div>
                                <h3>Group Profiles</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <app-header-profile></app-header-profile>
                    </div>
                </div>
                <div class="row section group_list_section create_profile_page">
                    <div class="row bio_tab">
                        <div class="card groups_section">
                            <div class="card-body create_profile_section">
                                <!-- <h3 class="text-center mb-4">Select a group to manage or create a group profile</h3> -->
                                <!-- <p>Select the group(s) that you currently own or admin</p> -->
                                <div class="col-md-12 d-flex align-items-center justify-content-end">
                                    <div class="col-md-1 product_img p-0"><img src="assets/images/product.png" /></div>
                                    <div class="col-md-8 product_sec">
                                        <h4>{{groupName}}</h4>
                                        <!-- <ul>
                                            <li><img src="assets/images/public.png" />Public</li>
                                            <li><img src="assets/images/members.png" />364 members</li>
                                        </ul> -->
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center justify-content-end group_right_sec">
                                        <!-- <img src="assets/images/refresh.png" /> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="steps-model">
                            <p-steps [model]="items" [(activeIndex)]="activeStepIndex"></p-steps>
                        </div>
                        <div class="stepWrapper " *ngIf="activeStepIndex == 0">
                            <form [formGroup]="overViewForm" (ngSubmit)="validateStep1()">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <label for="description" class="form-label">Group Description <span
                                                    class="required">*</span></label><br>
                                            <!-- <textarea class="form-control" rows="5" id="description" name="text"
                                                placeholder="Write a brief description about yourself with regards to your group..."
                                                class="form-control"></textarea> -->
                                            <textarea [rows]="5" formControlName="description" required pInputTextarea
                                                [autoResize]="true" [ngModel]="description"></textarea>

                                            <div *ngIf="o['description'].touched && o['description'].invalid"
                                                class="alert alert-danger">
                                                <div
                                                    *ngIf="o['description'].errors && o['description'].errors['required']">
                                                    Description is
                                                    required.</div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3 mt-3 form-group">
                                                    <label for="location" class="form-label">Group Category <span
                                                            class="required">*</span> </label>
                                                    <select class="form-select" [(ngModel)]='selectedCategory'
                                                        (onChange)="onChangeCategory($event)" required
                                                        formControlName="category">
                                                        <option *ngFor="let category of groupCategories"
                                                            [value]="category.id">
                                                            {{category.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3 mt-3 form-group">
                                                    <label for="location" class="form-label">Group Location <span
                                                            class="required">*</span> </label>
                                                    <select class="form-select" required [(ngModel)]='selectedLocation'
                                                        (onChange)="onChangeLocation($event)"
                                                        formControlName="location">
                                                        <option *ngFor="let location of groupLocations"
                                                            [value]="location.code">
                                                            {{location.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h3>Set Groupname</h3>
                                        <p>Choose a unique name for your group profile view.<span
                                                class="required">*</span>
                                        </p>
                                        <div>
                                            <input type="text" class="form-control" formControlName="uniqueName"
                                                required="required" [ngModel]="uniqueName" placeholder="danedwards">

                                            <div *ngIf="o['uniqueName'].touched && o['uniqueName'].invalid"
                                                class="alert alert-danger">
                                                <div
                                                    *ngIf="o['uniqueName'].errors && o['uniqueName'].errors['required']">
                                                    Groupname is
                                                    required.</div>

                                                <div
                                                    *ngIf="o['uniqueName'].errors && o['uniqueName'].errors['minlength']">
                                                    Groupname must be at least 5 characters.</div>

                                                <div
                                                    *ngIf="o['uniqueName'].errors && o['uniqueName'].errors['uniqueNameExists']">
                                                    Groupname {{uniqueName}} already taken.</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12 d-flex justify-content-end p-0">
                                    <button type="submit" [disabled]="overViewForm.invalid"
                                        class="btn btn-primary add_btn">Next</button>
                                    <!-- <button type="button" class="btn btn-primary add_btn"
                                        (click)="validateStep1()">Next</button> -->
                                </div>
                            </form>
                        </div>

                        <div class="stepWrapper" *ngIf="activeStepIndex == 1">

                            <div id="Popular_Topics" class="tab-pane fade active show">
                                <form [formGroup]="popularTopicForm" (ngSubmit)="validateStep2()">
                                    <div class="card popular_topic">
                                        <div class="card-body text-center">
                                            <img src="assets/images/message-add.png">
                                            <h4>What topics are most discussed in your Group?</h4>
                                            <p>You can add up to 5 topics here to let brands know what kind of
                                                converstions
                                                are happening in your group.</p>
                                            <div>
                                                <p-chips [(ngModel)]="topic" class="topics" formControlName="topic"
                                                    separator=",">
                                                </p-chips>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="button" (click)="backToStepIndex(0)"
                                                    class="btn btn-primary  back_btn"> <img
                                                        src="assets/images/arrow_left.png"> Back</button>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <button type="submit" [disabled]="popularTopicForm.invalid"
                                                    class="btn btn-primary add_btn">Next <img
                                                        src="assets/images/arrow_right.png"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="stepWrapper" *ngIf="activeStepIndex == 2">
                            <div id="Top_Conversations" class="tab-pane fade active show">
                                <form [formGroup]="topConversationForm" (ngSubmit)="validateStep3()"
                                    enctype="multipart/form-data">
                                    <div class="card popular_topic">
                                        <div class="card-body text-center">
                                            <img src="assets/images/gallery-add.png">
                                            <h4>Show engaging conversations happening in your group </h4>
                                            <p>Upload screenshots of engaging conversations happening in your group
                                                below.
                                                Help brands see what you do.</p>

                                            <div class="upload-image"
                                                *ngFor="let image of previousImage; let index = index">
                                                <img [src]="imagePath+'/'+image.image" class="rounded mb-3 mt-4"><span
                                                    mat-icon-button (click)="removePreviousFile(index)"><img
                                                        src="assets/images/Cancel.png"></span>
                                            </div>


                                            <div class="upload-image" *ngFor="let url of urls; let index = index">
                                                <img [src]="url" class="rounded mb-3 mt-4"><span mat-icon-button
                                                    (click)="removeSelectedFile(index)"><img
                                                        src="assets/images/Cancel.png"></span>
                                            </div><br><br>
                                            <img src="assets/images/upload_ss.png" (click)="selectImage.click()">
                                            <input #imageInput type="file" accept="image/*" multiple
                                                (change)="uploadImages($event)" style="display: none" #selectImage>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="button" (click)="backToStepIndex(1)"
                                                    class="btn btn-primary  back_btn"> <img
                                                        src="assets/images/arrow_left.png"> Back</button>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <button type="submit" class="btn btn-primary add_btn">Next <img
                                                        src="assets/images/arrow_right.png"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                        <div class="stepWrapper" *ngIf="activeStepIndex == 3">
                            <div id="Preview" class="tab-pane fade active show">
                                <div class="card popular_topic">
                                    <div class="card-body text-center">
                                        <h4>Ready to publish your group’s profile? </h4>
                                        <p>Your group’s profile is saved but not published. Publish now to share
                                            with
                                            brands and start getting reviews.</p>
                                        <div class="publish">
                                            <div class="row">
                                                <div class="col-md-4"></div>
                                                <div class="col-md-4 p-0">
                                                    <div class="card groups_section">
                                                        <div class="card-body create_profile_section">
                                                            <div class="col-md-12">
                                                                <h4>{{groupDetails.group_name}}</h4>
                                                                <!-- <ul
                                                                        class="d-flex align-items-center justify-content-center">
                                                                        <li><img src="assets/images/public.png">Public
                                                                        </li>
                                                                        <li><img src="assets/images/members.png">364
                                                                            members
                                                                        </li>
                                                                    </ul> -->
                                                                <!-- <a type="button" target="_blank"
                                                                    href="{{origin}}/group-profile/{{slug}}"
                                                                    [class.disabled]="previewFlag ? null: true"
                                                                    class="btn btn-outline-primary preview_btn bio_btn"><img
                                                                        src="assets/images/eye.png">Preview
                                                                    Bio</a> -->
                                                                <button type="button"
                                                                    [disabled]="previewFlag ? null: true"
                                                                    (click)="openPreview()"
                                                                    class="btn btn-outline-primary preview_btn bio_btn"><img
                                                                        src="assets/images/eye.png">Preview
                                                                    Bio</button>


                                                                <button type="button"
                                                                    class="btn btn-primary share_btn bio_btn"
                                                                    (click)="validateStep4()"><img
                                                                        src="assets/images/right.png">Publish
                                                                    Bio</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" (click)="backToStepIndex(2)"
                                                class="btn btn-primary back_btn"> <img
                                                    src="assets/images/arrow_left.png"> Back</button>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <button type="button" class="btn btn-primary add_btn"
                                                (click)="publishLater()">Publish Later <img
                                                    src="assets/images/arrow_right.png"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- group publish profile -->

<p-dialog [(visible)]="displayPublishModel" [modal]="true" [style]="{width: '45vw'}">
    <div class="modal-body publish_modal text-center">
        <div class="col-md-12">
            <img src="assets/images/success.png" class="success" />
            <h4 class="modal-title">Bio Published Successfully</h4>
            <p>Share to start getting noticed</p>
            <div class="input-group">
                <input type="text" class="form-control" [disabled]="showAddProfileBtn"
                    placeholder="{{origin}}/group-profile/{{slug}}">
                <span type="button" (click)="copyGroupProfileModel(slug)" class="input-group-text">{{model_text}}</span>
            </div>
            <h6><span class="border_left"></span>Share with<span class="border_right"></span>
            </h6>
            <ul class="social_icons">
                <a href="{{facebookShare}}"><img src="assets/images/Facebook.png" /></a>
                <a href="{{instagramShare}}"><img src="assets/images/Instagram.png" /></a>
                <a href="{{twitterShare}}"><img src="assets/images/Twitter.png" /></a>
                <a href="{{linkedInShare}}"><img src="assets/images/LinkedIn.png" class="linkedin" /></a>
            </ul>

        </div>


    </div>
</p-dialog>


<iframe *ngIf="displayIframe" height="640px" width="100%" [src]="iframeUrl | safe" id="openIframe"></iframe>