<div class="open-sidebar">
    <div class="container-fluid">
        <div class="row">
            <app-sidebar></app-sidebar>
            <ngx-spinner name="sp5" bdOpacity=0.4 bdColor="rgba(51,51,51,0.42)" size="medium" color="#2457c7"
                type="ball-scale-multiple" [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div class="col-md-10 right_side">
                <div class="row header">

                    <div class="col-md-8 left_col">
                        <div class="d-flex">

                            <div>
                                <h3><a class="routers-link" [routerLink]="['/group-list']"><img
                                            src="assets/images/arrow_left_black.png" /></a>
                                    Group
                                    List </h3>


                            </div>
                            <div class="leads_sec">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-0">
                        <app-header-profile></app-header-profile>
                    </div>
                    <div class="row section group_list_section">

                        <div class="leads_generate group_list product_list">
                            <div class="row">
                                <div class="col-md-7 d-flex align-items-center">
                                    <h3>{{groupName}}</h3>
                                </div>
                                <div class="col-md-5 ">
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary export_btn"
                                            (click)="exportCSV()"><img src="assets/images/export.png" /> Export</button>
                                        <div class="dropdown filter_btn">
                                            <button
                                                style="background-color: white;border: none; color:#3c61ad;padding: 0px;"
                                                class="btn btn-secondary " type="button" data-bs-toggle="dropdown"
                                                id="dropdownMenuButton1"><img style="width:auto"
                                                    src="assets/images/menu.png" />
                                                <span class="caret" style="font-size: 15px;"> Filter By
                                                    Date</span></button>
                                            <ul (click)="onChange($event,'')" class="dropdown-menu custom-dropdown"
                                                style="cursor: pointer;" aria-labelledby="dropdownMenuButton1">
                                                <li id="today"><a class="dropdown-item">Today</a></li>
                                                <li id="thisMonth"><a class="dropdown-item">This month</a></li>
                                                <li id="last30Days"><a class="dropdown-item">Last 30 Days</a></li>
                                                <li id="last90Days"><a class="dropdown-item">Last 90 Days</a></li>
                                                <li id="thisYear"><a class="dropdown-item">This Year</a></li>
                                                <li id="allTime"><a class="dropdown-item">All Time</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 group_list_table">
                                <p-table #dt [exportFilename]='csvName' [columns]="cols"
                                    styleClass="ui-table-cars p-datatable-striped" [value]="leads" [lazy]="true"
                                    (onLazyLoad)="lazyLoadLeads($event)" [paginator]="true" [rows]="rowsPerPage"
                                    [totalRecords]="totalRecords" [scrollable]="true" [resizableColumns]="true"
                                    sortField="_id" [(first)]="first" [sortOrder]="-1">

                                    <ng-template pTemplate="colgroup" let-columns>
                                        <colgroup>
                                            <col *ngFor="let col of cols">
                                        </colgroup>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="custom-width-3" *ngFor="let col of cols"
                                                [pSortableColumn]="col.field" [ngSwitch]="col.field">
                                                {{col.header}}
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </th>
                                            <th>Delete</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-group let-rowData let-columns="columns"
                                        let-rowIndex="rowIndex">
                                        <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
                                            <td class="custom-width-3" style="color: #3C61AD;">{{rowData.profile_url}}
                                            </td>
                                            <td class="custom-width-3">{{rowData.full_name}}</td>
                                            <td class="custom-width-3">{{rowData.first_name}}</td>
                                            <td class="custom-width-3">{{rowData.last_name}}</td>
                                            <td class="custom-width-3">{{rowData.joined_date}}</td>
                                            <td class="custom-width-3">{{rowData.ques_one}}</td>
                                            <td class="custom-width-3">{{rowData.ans_one}}</td>
                                            <td class="custom-width-3">{{rowData.ques_two}}</td>
                                            <td class="custom-width-3">{{rowData.ans_two}}</td>
                                            <td class="custom-width-3">{{rowData.ques_three}}</td>
                                            <td class="custom-width-3">{{rowData.ans_three}}</td>
                                            <td class="custom-width-3">{{rowData.created_at | date: 'dd MMMM yyyy'}}
                                            </td>
                                            <td class="custom-width-3">
                                                <a class="btn btn-xs" style="cursor: pointer;"><i
                                                        (click)="deleteLeads(rowData._id,rowIndex)"
                                                        class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage" let-columns>
                                        <tr>
                                            <td [attr.colspan]="columns.length" class="text-center">
                                                You need to generate leads via the extension before data can be added
                                                here
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>